[Unit]
Description=Retro Home Splash
DefaultDependencies=no
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/retro-home-splash
StandardOutput=file:/var/log/retro-home-splash.log
StandardError=file:/var/log/retro-home-splash.log

[Install]
WantedBy=basic.target
