# https://vincent.bernat.ch/en/blog/2021-startx-systemd
# https://unix.stackexchange.com/a/686360
[Unit]
Description=X11 session for ludo
After=graphical.target systemd-user-sessions.service

[Service]
User=ludo
WorkingDirectory=~

PAMName=login
Environment=XDG_SESSION_TYPE=x11
TTYPath=/dev/tty7
StandardInput=tty
UnsetEnvironment=TERM

UtmpIdentifier=tty7
UtmpMode=user

StandardOutput=journal
ExecStartPre=/usr/bin/chvt 7
ExecStart=/usr/bin/startx /usr/local/bin/retro-home -- vt7 -keeptty -verbose 3 -logfile /storage/.Xorg.log
Restart=always
RestartSec=1

[Install]
WantedBy=graphical.target
