[Unit]
Description=DeskPi Pro Fan Control Service
After=systemd-udev-settle.service

[Service]
Type=simple
ExecStart=/usr/local/bin/deskpipro-fancontrol.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
